.about-img-part {
    border: 10px solid #3366cc;
    position: relative;
}
.about-img-part img{
    margin-left: 10px;
    margin-bottom: 15px;
    margin-top: -30px;
    transition: .4s;
}
/* .about-img-part img:hover{
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: -15px;
} */
.style-heading{
    position: relative;
}
.style-heading:after{
    content: "";
    width: 50px;
    height: 2px;
    background: #3366cc;
    position: absolute;
    top: 27px;
    left: 0px;
}
.social-link li{
    margin-right: 15px;
    width: 31px;
    height: 30px;
    background-color: #3366cc;
    text-align: center;
    border: 1px solid #3366cc;
    transition: .4s;
}
.social-link li a{
    color: #fff;
    padding: 5px 6px;
    transition: .4s;
}
.social-link li:hover{
    background-color: #fff;
}  
.social-link li:hover a{
    color: #3366cc;
}  