.about-img-part {
    border: 10px solid #3366cc;
    position: relative;
}
.about-img-part img{
    margin-left: 10px;
    /* margin-bottom: 15px;
    margin-top: -30px;
    transition: .4s; */
}
/* .about-img-part img:hover{
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: -15px;
} */