.primary-button{
    text-decoration: none;
    color: #fff;
    background: #3366cc;
    text-transform: capitalize;
    padding: 8px 30px;
    border: 2px solid #3366cc;
    transition: .4s;
    font-family: 'Dosis', sans-serif;
  }
.primary-button:hover{
    background: transparent;
    color: #3366cc;
}
@media only screen and (max-width: 575px){
 .banner-text{
  margin-left: 5%;
 }
}

@media only screen and (max-width: 425px){
 #lottie{
  width: 90%;
  padding-right: 7%;
 }
}
@media only screen and (max-width: 390px){
  #lottie{
   width: 90%;
   padding-right: 15%;
  }
 }
@media only screen and (max-width: 370px){
  #lottie{
   width: 70%;
   padding-right: 20%;
  }
 }